*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background:gray url(./img/wall.jpg) no-repeat center center;
    background-size:cover;

}
.row{
    margin: 20px;
}
.row .keys{
    margin:0 10px;
}
.keys{
    width: 60px;
    height: 50px;
    background: linear-gradient(to bottom, #404040 1%,#181818 100%); 
    color: rgb(192, 192, 192);
    border-radius: 7px;
    box-shadow: 0 0 0 1px #3a3a3a,0 0 0 2px #1f2020,0 3px 0 2px #1f2020;

    font-size: 16px;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    position: relative;
}
.keys span{
    position: absolute;
    left:4px;
    top:4px;
}
.keys img{
    width: 14px;
    height: 14px;
    position: absolute;
    left:4px;
    bottom: 2px;
}
kbd{
    
    display: inline-block;
    width: 4em;
    height: 4em;
    text-transform: uppercase;
 
 
    position: relative;
}
kbd > button{
    position: absolute;
    right:0;
    bottom:0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.wrapper{
    display: inline-block;
    background:rgb(255,255,255,0.4);
    border-radius:10px;
}
#keyboard > div:nth-child(2){
    margin-left: -16px;
}
#keyboard > div:nth-child(3){
    margin-left: -98px;
}
